In [1]:
import sqlite3 as sql

In [2]:
print(dir(sql))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [3]:
db= sql.connect('python_sqliteee.db')

In [4]:
dir(db)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [5]:
db_cursor= db.cursor()

In [6]:
cmd='create table users (id int , name varchar(20), city varchar(20));'

In [7]:
db_cursor.execute(cmd)

In [8]:
db_cursor.execute('insert into users (id,name,city) values (1,"prarthana","ahmedabad");')

In [9]:
#commit to save the values in

db.commit()

In [10]:
data={
    'id': 2,
    'name': 'samarth',
    'city' : 'surat'
}

In [11]:
# make query from data dict

cmd = f'insert into table_name({data.keys()}) values({data.values()});'

In [12]:
cmd = f'insert into users {tuple(data.keys())} values {tuple(data.values())};'

In [13]:
db_cursor.execute(cmd)

In [14]:
db.commit()

In [15]:
data={
    'id': 3,
    'name': 'samarth',
    'city' : 'surat'
}

In [16]:
cmd = f'insert into users {data.keys()} values {data.values()};'

In [17]:
db_cursor.execute(cmd)

OperationalError: near "dict_keys": syntax error

In [18]:
# retriev data from database

cmd='select * from users'

db_cursor.execute(cmd)

In [19]:
db_cursor.fetchall()

[(1, 'prarthana', 'ahmedabad'), (2, 'samarth', 'surat')]

In [21]:
#increment id in table 

data=[
    {
        'name': 'poojan',
        'city':'mumbai'
    },
    
    {
        'name': 'abhi',
        'city':'pune'
    },
    
    {
        'name': 'mona',
        'city':'banglore'
    }
]

In [22]:
for d in data:
    print(d)

{'name': 'poojan', 'city': 'mumbai'}
{'name': 'abhi', 'city': 'pune'}
{'name': 'mona', 'city': 'banglore'}

In [24]:
# k , v is key & values
for d in data:
    for k,v in d.items():
        print(k,v)

name poojan
city mumbai
name abhi
city pune
name mona
city banglore

In [26]:
db_cursor.execute('select * from users')

last_id= db_cursor.fetchall()[-1][0]

In [28]:
last_id

2

In [29]:
for d in data:
    cmd=f'insert into users {tuple(d.keys())} values {tuple(d.values())}'
    print(cmd)

insert into users ('name', 'city') values ('poojan', 'mumbai')
insert into users ('name', 'city') values ('abhi', 'pune')
insert into users ('name', 'city') values ('mona', 'banglore')

In [31]:
db_cursor.execute('select * from users')
last_id= db_cursor.fetchall()[-1][0]
new_id= last_id+1

for d in data:
    d['id']=new_id
    cmd=f'insert into users {tuple(d.keys())} values {tuple(d.values())}'
    db_cursor.execute(cmd)
    db.commit()
    print(cmd)
    new_id +=1

insert into users ('name', 'city', 'id') values ('poojan', 'mumbai', 4)
insert into users ('name', 'city', 'id') values ('abhi', 'pune', 5)
insert into users ('name', 'city', 'id') values ('mona', 'banglore', 6)

In [32]:
#update record

cmd= 'update users set name="prarthana,manisha" where id= 1'
db_cursor.execute(cmd)
db.commit()

In [35]:
#delete record

cmd='delete from users where id=2'
db_cursor.execute(cmd)
db.commit()