In [ ]:
## for .. else ..
    for iteration_var in sequencial_obj:
    statement
    else:
    always_execute

In [2]:
# range(start=0, stop=n-1, step=1)

range(10)

range(0, 10)

In [59]:
#notation

nos=range(10)
print(*nos)

0 1 2 3 4 5 6 7 8 9

In [58]:
for i in nos:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [12]:
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [15]:
for i in range(1,11):
    print(3*i)

3
6
9
12
15
18
21
24
27
30

In [20]:
# 2 * 1 = 2

n=2
for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [21]:
num =[2,4,6,8,10]

In [22]:
for i in num:
    print(i)

2
4
6
8
10

In [25]:
for n in num:
    for i in range(1,11):
        print(i*n)

2
4
6
8
10
12
14
16
18
20
4
8
12
16
20
24
28
32
36
40
6
12
18
24
30
36
42
48
54
60
8
16
24
32
40
48
56
64
72
80
10
20
30
40
50
60
70
80
90
100

In [27]:
for n in num:
    for i in range(1,11):
        print(f" {n} * {i} = {n*i}")

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80
 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

In [4]:
num =[2,4,6,8,10]
for n in num:
    print(f'table of {n}',end="\t|\t")
print()
for i in range(1,11):
    for n in num:
        print(f"{n}*{i}={n*i}",end="\t|\t")
    print()

table of 2	|	table of 4	|	table of 6	|	table of 8	|	table of 10	|
2*1=2	|	4*1=4	|	6*1=6	|	8*1=8	|	10*1=10	|
2*2=4	|	4*2=8	|	6*2=12	|	8*2=16	|	10*2=20	|
2*3=6	|	4*3=12	|	6*3=18	|	8*3=24	|	10*3=30	|
2*4=8	|	4*4=16	|	6*4=24	|	8*4=32	|	10*4=40	|
2*5=10	|	4*5=20	|	6*5=30	|	8*5=40	|	10*5=50	|
2*6=12	|	4*6=24	|	6*6=36	|	8*6=48	|	10*6=60	|
2*7=14	|	4*7=28	|	6*7=42	|	8*7=56	|	10*7=70	|
2*8=16	|	4*8=32	|	6*8=48	|	8*8=64	|	10*8=80	|
2*9=18	|	4*9=36	|	6*9=54	|	8*9=72	|	10*9=90	|
2*10=20	|	4*10=40	|	6*10=60	|	8*10=80	|	10*10=100	|

In [63]:
for i in 'prarthana':
    print(i)

p
r
a
r
t
h
a
n
a

In [64]:
name ='prarthana'

In [65]:
len(name)

9

In [70]:
for i in range(len(name)):
    print(name[i])

p
r
a
r
t
h
a
n
a

In [74]:
for i in range(len(name)-1,-1,-1):
    print(name[i])

a
n
a
h
t
r
a
r
p

In [2]:
#while .. else

i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [16]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [17]:
i=10

while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [1]:
i=0
while i< len(name):
    print(name[i])
    i+=1

NameError: name 'name' is not defined

In [3]:
name='prarthana'
i=0
while i<len(name):
    print(name[i])
    i+=1

p
r
a
r
t
h
a
n
a

In [5]:
i=0
while i<len(name)-1:
    print(name[i])
    i-=1

NameError: name 'name' is not defined

In [10]:
# break, continue and pass

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [13]:
i=0
for i in range(10):
    print(i)
    if i==5:
        break
    i+=1

0
1
2
3
4
5

In [14]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [18]:
for i in range(10):
    print(i)
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9

In [19]:
name='prarthana'

In [20]:
for i in name:
    print(i)

p
r
a
r
t
h
a
n
a